.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked + .checkbox__label {
			&:before {
				background: $Orange;
				border-color: $Orange;
			}
			&:after {
				opacity: 1;
			}
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 rem(18);
			width: rem(18);
			height: rem(18);
			background-color: #f2f4f7;
			border: rem(2) solid #82879e;
			border-radius: rem(6);
			transition: $transition ease background-color, $transition border-color 0s;
		}
		&::after {
			content: "";
			display: block;
			flex: 0 0 rem(18);
			width: rem(18);
			height: rem(18);
			position: absolute;
			left: 0;
			top: 0;
			background: url(../img/icons/check.svg) no-repeat center/contain;
			opacity: 0;
			transition: $transition ease opacity 0s;
		}
	}
	// .checkbox__text
	&__text {
	}
}
