.info {
   display: inline-flex;
   // position: relative;

   // .info__button
   &__button {
      font-size: rem(16);
      color: $LGrey;
      transition: $transition ease color 0s;

      @media (any-hover: hover) {
         &:hover {
            color: $BBLue;
         }
      }

      ._active & {
         color: $BBLue;
      }
   }

   // .info__wrapper
   &__wrapper {
      @include adaptiveValue("width", 382, 300);
      padding: rem(16);
      border-radius: rem(10);
      background-color: $White;
      box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.16);
      position: absolute;
      // top: rem(-20);
      // left: 50%;
      // transform: translate(-50%, -100%);
      z-index: 3;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: 0.5s ease opacity, 0.5s visibility 0s;

      ._active & {
         opacity: 1;
         visibility: visible;
         pointer-events: all;
      }
   }
}
