//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input {
	display: block;
	width: 100%;
	font-weight: 400;
	@include adaptiveValue("font-size", 16, 14);
	line-height: math.div(21, 16);
	color: $mainColor;
	outline: none;
	transition: $transition ease all 0s;

	&::placeholder {
		color: #82879e;
		transition: $transition ease opacity 0s;
	}
}

.form__input {
	@include adaptiveValue("height", 48, 38);
	padding: rem(14) rem(16);
	@include adaptiveValue("padding-top", 14, 10);
	@include adaptiveValue("padding-bottom", 14, 10);
	background-color: $White;
	border-radius: rem(10);
	border: rem(1) solid $LGrey;
	overflow: hidden;

	&:focus {
		border-color: $Orange;
		box-shadow: 0px 2px 8px rgba(233, 98, 22, 0.2);

		&::placeholder {
			opacity: 0;
		}
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}
