.password {
   // .password__wrapper
   &__wrapper {
      position: relative;

      &:not(:last-child) {
         margin-bottom: rem(8);
      }
   }

   // .password__input
   &__input {
   }

   // .password__toggler
   &__toggler {
      position: absolute;
      top: 50%;
      right: rem(16);
      transform: translateY(-50%);

      &::before {
         content: "\e913";
         @extend %ic;
         color: $DGBlue;
         font-size: rem(20);
      }
   }

   // .password__recover
   &__recover {
      display: inline-block;
      font-size: rem(14);
      line-height: 130%;
      color: $Orange;
      text-decoration: underline from-font !important;
      text-underline-offset: 3px;
      transition: $transition ease text-decoration 0s;

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline transparent from-font !important;
         }
      }
   }

   // password_text
   &_text {
      .password__toggler {
         &::before {
            content: "\e914";
         }
      }
   }
}
