.main-search {
   gap: rem(16);

   @media (min-width: $mobile) {
      display: flex;
      align-items: center;
   }
   @media (max-width: $mobile) {
      display: grid;
      align-content: flex-start;
   }

   // .main-search__input-wrapper
   &__input-wrapper {
      flex: 1;
      position: relative;
   }

   ._icon-search {
      position: absolute;
      top: 50%;
      left: rem(10);
      transform: translateY(-50%);
      font-size: rem(18);
      color: #82879e;
      pointer-events: none;

      @media (min-width: $mobile) {
         font-size: rem(20);
         left: rem(15);
      }
   }

   // .main-search__input
   &__input {
      background: #f2f4f7;
      border: rem(1) solid #d8d9e1;
      padding: rem(10) rem(43) rem(10) rem(36);
      height: rem(40);
      border-radius: rem(10);
      font-size: rem(14);
      line-height: 1;

      @media (min-width: $mobile) {
         height: rem(44);
         border-radius: 14px;
         padding: rem(12) rem(43) rem(12) rem(43);
      }

      &::placeholder {
         color: #82879e;
      }

      &:focus {
         border-color: $Orange;
         box-shadow: 0px 2px 8px rgba(233, 98, 22, 0.2);

         &::placeholder {
            opacity: 0;
         }
      }
   }

   // .main-search__reset
   &__reset {
      display: block;
      width: rem(30);
      height: rem(30);
      flex: 0 0 rem(30);
      border-radius: rem(8);
      background: $White url(../img/icons/close2.svg) no-repeat center/10px;
      position: absolute;
      right: rem(7);
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      /* opacity: 0;
      visibility: hidden;
      pointer-events: none; */
      transition: $transition ease all 0s;

      @media (any-hover: hover) {
         &:hover {
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
         }
      }
   }

   // .main-search__btn
   &__btn {
      padding: rem(11) rem(24);
      @include adaptiveValue("padding-left", 24, 12);
      @include adaptiveValue("padding-right", 24, 12);
      font-size: rem(16);
      height: rem(44);
   }
}
