//.user-wrapper ====================================================================================================
.user-wrapper {
   @include adaptiveValue("margin-top", 48, 24);
   @include adaptiveValue("margin-bottom", 120, 60);

   // .user-wrapper__container
   &__container {
      @media (min-width: $mobile) {
         display: grid;
         grid-template-columns: rem(180) 1fr;
         gap: rem(20);
      }
   }
}

.user-sidebar {
   @media (max-width: $mobile) {
      max-width: rem(480);
      margin-left: auto;
      margin-right: auto;
      display: none;

      .user-wrapper_home & {
         display: block;
      }
   }

   // .user-sidebar__wrapper
   &__wrapper {
      /* @media (min-width: $mobile) {
         position: sticky;
         top: rem(150);
      } */
   }

   // .user-sidebar__user
   &__user {
      @media (min-width: $mobile) {
         display: grid;
         align-content: flex-start;
         row-gap: rem(16);
      }
      @media (max-width: $mobile) {
         display: flex;
         align-items: center;
         gap: rem(16);
      }

      .user {
         // .user__avatar
         &__avatar {
            width: 100%;
            flex: 0 0 rem(80);
            @include adaptiveValue("flex-basis", 80, 60);
            @include adaptiveValue("max-width", 80, 60);
            @include adaptiveValue("height", 80, 60);
            padding-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $White;
            border: rem(1) solid $LGrey;
         }

         // .user__body
         &__body {
            row-gap: rem(4);

            @media (min-width: $mobile) {
               row-gap: rem(8);
            }
         }

         // .user__name
         &__name {
            font-size: rem(14);
            line-height: math.div(17, 14);
         }

         // .user__email
         &__email {
            color: $Grey;
         }
      }

      &:not(:last-child) {
         margin-bottom: rem(24);
      }
   }

   // .user-sidebar__discount
   &__discount {
      &:not(:last-child) {
         margin-bottom: rem(4);

         @media (min-width: $mobile) {
            margin-bottom: rem(16);
         }
      }
   }

   // .user-sidebar__navigation
   &__navigation {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 24, 16);
      }
   }

   // .user-sidebar__actions
   &__actions {
      display: grid;
      align-content: flex-start;
      row-gap: rem(16);

      @media (min-width: $mobile) {
         row-gap: rem(24);
      }
   }

   // .user-sidebar__logout
   &__logout {
      font-size: rem(14);
      line-height: math.div(17, 14);
      color: $Red;

      @media (max-width: $mobile) {
         a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            padding: rem(11) rem(16);
            background-color: $White;
            border: rem(1) solid $Line;
            border-radius: rem(10);
            min-height: rem(45);
         }
      }
   }

   // .user-sidebar__button
   &__button {
      .btn {
         font-size: rem(16);
         line-height: math.div(20, 16);
         padding: rem(11) rem(16);
         width: 100%;
      }
   }
}

.user-discount {
   // .user-discount__wrapper
   &__wrapper {
      display: flex;
      align-items: center;
      gap: rem(8);
      padding: rem(16) rem(40) rem(16) rem(16);
      border-radius: rem(10);
      position: relative;
      overflow: hidden;

      @media (any-hover: hover) {
         transition: $transition ease border-color 0s;

         &:hover {
            border-color: $LGrey;
         }
      }

      &::before {
         content: "";
         position: absolute;
         right: 0;
         bottom: 0;
         display: block;
         width: rem(41);
         height: rem(41);
         flex: 0 0 rem(41);
         background: url(../img/icons/discount.svg) no-repeat center/contain;
         pointer-events: none;
      }
      &::after {
         content: "\e922";
         @extend %ic;
         font-size: rem(16);
         color: $LGrey;
         position: absolute;
         top: rem(16);
         right: rem(16);
      }
   }

   // .user-discount__val
   &__val {
      font-weight: 700;
      font-size: rem(44);
      line-height: 1;
      color: $BBLue;
   }

   // .user-discount__body
   &__body {
      line-height: 1;
   }

   // .user-discount__percent
   &__percent {
      font-weight: 700;
      font-size: rem(24);
      color: $BBLue;
   }

   // .user-discount__caption
   &__caption {
      font-size: rem(12);
      color: $Grey;
   }
}

.user-navigation {
   // .user-navigation__list
   &__list {
   }

   // .user-navigation__item
   &__item {
      @media (min-width: $mobile) {
         margin-left: rem(-14);
         margin-right: rem(-20);
      }
      @media (max-width: $mobile) {
         &:not(:last-child) {
            margin-bottom: rem(4);
         }
      }
   }

   // .user-navigation__link
   &__link {
      display: block;
      width: 100%;
      font-size: rem(14);
      line-height: math.div(17, 14);
      color: $DGBlue;
      transition: $transition ease all 0s;
      position: relative;

      &:not(._active &) {
         @media (any-hover: hover) {
            &:hover {
               color: $mainColor;
            }
         }
      }

      @media (min-width: $mobile) {
         padding: rem(8) rem(20) rem(8) rem(14);
         border-radius: rem(10) 0 0 rem(10);

         &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: rem(4);
            border-radius: rem(10) 0 0 rem(10);
            background-color: $Orange;
            pointer-events: none;
            opacity: 0;
            transition: $transition ease opacity 0s;
         }

         ._active & {
            color: $Orange;
            background-color: $White;

            &::after {
               opacity: 1;
            }
         }
      }
      @media (max-width: $mobile) {
         padding: rem(13) rem(16);
         background-color: $White;
         border: rem(1) solid $Line;
         border-radius: rem(10);
      }
   }
}

.user-home {
   display: none;

   @media (max-width: $mobile) {
      display: block;
      margin-bottom: rem(16);
      position: relative;
   }

   // .user-home__link
   &__link {
      display: inline-block;
      @include adaptiveValue("font-size", 20, 16, 768, 320, 1);
      color: $DGBlue;
      padding: rem(4);
      background-color: $White;
      border: rem(1) solid $Line;
      border-radius: rem(8);
      position: relative;
      z-index: 1;
   }

   // .user-home__caption
   &__caption {
      display: block;
      width: 100%;
      @include adaptiveValue("font-size", 16, 12, 768, 320, 1);
      line-height: math.div(14, 12);
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-left: rem(30);
      padding-right: rem(30);
   }
}

.user-main {
   @include adaptiveValue("padding", 30, 16);
   @include adaptiveValue("border-radius", 20, 13);

   .user-wrapper_home & {
      @media (max-width: $mobile) {
         display: none;
      }
   }

   .back-button {
      @include adaptiveValue("font-size", 18, 14);
      @include adaptiveValue("column-gap", 16, 8);

      span {
         color: $mainColor;
      }

      i {
         background-color: #f1f3f6;
      }
   }
}

//.user-template1 ====================================================================================================
.user-template1 {
   height: 100%;
   display: flex;
   flex-direction: column;

   // .user-template1__heading
   &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: rem(16);

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 24, 16);
      }
   }

   // .user-template1__title
   &__title {
      display: flex;
      align-items: center;
      gap: rem(12);

      span {
         font-weight: 700;
         font-size: rem(14);
         line-height: 120%;
         color: $Grey;
      }
   }

   // .user-template1__empty
   &__empty {
      flex: 1;
      display: grid;
      align-items: center;
      padding-top: rem(20);
      padding-bottom: rem(20);
   }

   .btn {
      @include adaptiveValue("font-size", 16, 14);
      line-height: math.div(18, 14);
      padding: rem(11) rem(24);
      @include adaptiveValue("padding-top", 11, 8);
      @include adaptiveValue("padding-bottom", 11, 8);
      @include adaptiveValue("border-radius", 14, 10);
   }

   // .user-template1__cards
   &__cards {
   }

   // .user-template1__list
   &__list {
      @include adaptiveValue("margin", -10, -4);
   }

   // .user-template1__item
   &__item {
      @include adaptiveValue("padding", 10, 4);
   }

   .select__control {
      @include adaptiveValue("height", 40, 34);
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
      border-radius: rem(14);

      .select__dropdown-indicator svg {
         fill: $Grey;
      }
   }

   .select__single-value {
      @include adaptiveValue("font-size", 14, 13);
   }
}

.user-empty {
   // .user-empty__wrapper
   &__wrapper {
      max-width: rem(244);
      margin-left: auto;
      margin-right: auto;
      display: grid;
      align-content: flex-start;
      justify-content: center;
      justify-items: center;
      @include adaptiveValue("gap", 24, 16);
   }

   // .user-empty__image
   &__image {
      @include adaptiveValue("max-width", 84, 64);
      margin-left: auto;
      margin-right: auto;

      @media (min-width: $mobile) {
         &:not(:last-child) {
            margin-bottom: rem(20);
         }
      }
   }

   // .user-empty__text
   &__text {
      @include adaptiveValue("font-size", 16, 14);
      color: $Grey;

      h1,
      h2,
      h3,
      h4 {
         color: $mainColor;
      }
   }

   // .user-empty__button
   &__button {
   }
}

.user-template1-card {
   // .user-template1-card__wrapper
   &__wrapper {
      @include adaptiveValue("padding", 20, 16);
      background: $White;
      border: 1px solid $Line;
      box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.06);
      border-radius: rem(10);
      height: 100%;
      display: flex;
      flex-direction: column;
   }

   // .user-template1-card__heading
   &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: rem(8) rem(16);
      padding-bottom: rem(20);
      border-bottom: rem(1) solid $Line;
   }

   // .user-template1-card__id
   &__id {
      font-weight: 700;
      @include adaptiveValue("font-size", 14, 12);
      line-height: 120%;

      span {
         font-weight: 400;
         color: $Grey;
         margin-left: rem(8);
      }
   }

   // .user-template1-card__info
   &__info {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      row-gap: rem(4);
      @include adaptiveValue("column-gap", 16, 8, 1480, 992, 1);

      @media (min-width: $mobileM) and (max-width: $tablet) {
         flex: 0 0 100%;
         justify-content: flex-start;
      }
      @media (max-width: $mobileSmall) {
         flex: 0 0 100%;
         justify-content: flex-start;
      }
   }

   // .user-template1-card__paid
   &__paid {
      @include adaptiveValue("font-size", 14, 12);
   }

   // .user-template1-card__status
   &__status {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      gap: rem(4);
      font-weight: 600;
      @include adaptiveValue("font-size", 12, 10);
      line-height: math.div(14, 12);
      color: $Grey;
      letter-spacing: em(0.72, 12);
      text-transform: uppercase;

      img {
         @include adaptiveValue("max-width", 20, 16);

         @media (min-width: $mobile) and (max-width: $tablet) {
            @include adaptiveValue("max-width", 20, 16, 992, 768, 1);
         }
      }

      span {
         white-space: nowrap;
      }

      @media (min-width: $mobile) and (max-width: $tablet) {
         @include adaptiveValue("font-size", 12, 10, 992, 768, 1);
      }
   }

   // .user-template1-card__body
   &__body {
      flex: 1;

      &:not(:first-child) {
         @include adaptiveValue("padding-top", 20, 16);
      }
      &:not(:last-child) {
         @include adaptiveValue("padding-bottom", 20, 16);
      }
   }

   // .user-template1-card__items
   &__items {
      display: grid;
      align-content: flex-start;
      gap: rem(8);
   }

   // .user-template1-card__item
   &__item {
      display: grid;
      align-content: flex-start;
      gap: rem(16);
      @include adaptiveValue("gap", 16, 8, 992, 768, 1);
      @include adaptiveValue("font-size", 14, 12);

      @media (min-width: $mobileSmall) {
         grid-template-columns: rem(100) 1fr;
      }
      @media (min-width: $mobileM) {
         grid-template-columns: rem(72) 1fr;
      }
      @media (min-width: $tablet) {
         grid-template-columns: rem(100) 1fr;
      }
   }

   // .user-template1-card__item-caption
   &__item-caption {
      color: $Grey;

      @media (max-width: $mobileSmall) {
         display: none;
      }
   }

   // .user-template1-card__item-value
   &__item-value {
      line-height: 130%;
   }

   // .user-template1-card__footer
   &__footer {
   }

   // .user-template1-card__actions
   &__actions {
      display: flex;
      flex-wrap: wrap;
      gap: rem(8);
   }

   // .user-template1-card__button
   &__button {
      @media (min-width: $mobileM) and (max-width: $tablet) {
         flex: 1;

         .btn {
            width: 100%;
         }
      }
      @media (max-width: $mobileSmall) {
         flex: 1;

         .btn {
            width: 100%;
         }
      }

      .btn {
         height: 100%;
      }

      ._icon-more {
         height: 100%;
         font-size: rem(24);
         color: $Grey;
         padding: rem(9) rem(10);
         @include adaptiveValue("padding-top", 9, 5);
         @include adaptiveValue("padding-bottom", 9, 5);

         &::before {
            transform: rotate(90deg);
         }
      }
   }

   // .user-template1-card__more
   &__more {
      height: 100%;
      position: relative;

      &._active {
         ._icon-more {
            background-color: $White;
            color: $mainColor;
         }
      }
   }

   // .user-template1-card__more-wrapper
   &__more-wrapper {
      min-width: rem(190);
      position: absolute;
      right: 0;
      bottom: rem(-8);
      transform: translateY(100%);
      background: $White;
      box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.18);
      border-radius: rem(8);
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: $transition ease all 0s;

      a {
         display: block;
         padding: rem(8) rem(16);
         text-decoration: underline transparent from-font;
         text-underline-offset: 3px;
         transition: $transition ease text-decoration 0s;

         @media (any-hover: hover) {
            &:hover {
               text-decoration: underline from-font;
            }
         }
      }

      ._active & {
         opacity: 1;
         visibility: visible;
         pointer-events: all;
      }
   }
}

//.user-template2 ====================================================================================================
.user-template2 {
   /*    display: grid;
   align-content: flex-start; */
   display: flex;
   flex-direction: column;
   height: 100%;
   @include adaptiveValue("row-gap", 30, 16);

   // .user-template2__heading
   &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: rem(16);

      .ordering-total__note {
         gap: rem(8);
         align-items: center;
      }
   }

   // user-template2__heading-left
   &__heading-left {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: rem(8) rem(16);

      @media (max-width: $mobileM) {
         flex: 0 0 100%;
         order: 2;
      }
   }

   .user-template1-card__paid {
      font-weight: 600;
      @include adaptiveValue("font-size", 16, 12);
      line-height: 127%;
      text-transform: none;
      margin-left: rem(12);
   }

   // .user-template2__heading-right
   &__heading-right {
      display: flex;
      align-items: center;
      gap: rem(8) rem(16);

      @media (min-width: $mobileM) {
         justify-content: flex-end;
         text-align: right;
      }
      @media (max-width: $mobileM) {
         flex: 0 0 100%;
         order: 1;
      }
   }

   // .user-template2__guarantee
   &__guarantee {
      display: flex;
      align-items: center;
      gap: rem(8);
      font-weight: 600;
      line-height: 120%;
      color: $Grey;

      img {
         @include adaptiveValue("max-width", 24, 20);
      }
   }

   // .user-template2__restored
   &__restored {
      font-weight: 600;
      color: #4caf50;
   }

   // .user-template2__link
   &__link {
      font-weight: 700;
      color: $BBLue;
      text-decoration: underline from-font;
      text-underline-offset: 3px;
      transition: $transition ease text-decoration 0s;

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline transparent from-font;
         }
      }
   }

   // .user-template2__comment
   &__comment {
   }

   .ordering-total__item {
      &:last-child {
         padding-bottom: 0;
         margin-bottom: 0;
         border-bottom: 0;
      }

      &.ordering-total__item_files {
         .ordering-total__row {
            @media (max-width: $mobileM) {
               grid-template-columns: 1fr;
            }
         }
      }

      &.ordering-total__item_final {
         display: grid;
         align-content: flex-start;
         @include adaptiveValue("gap", 30, 16);

         .ordering-total__info-text {
            @media (max-width: $mobileSmall) {
               text-align: right;
               display: grid;
               gap: rem(8);
            }
         }
      }
   }

   .ordering-total__information {
      @media (max-width: $mobileM) {
         grid-template-columns: 1fr;
         gap: rem(8);
      }
   }

   .ordering-total__row {
      gap: rem(4) rem(24);
      @include adaptiveValue("font-size", 14, 12);

      @media (min-width: $mobileM) {
         grid-template-columns: rem(166) 1fr;
      }
      @media (min-width: $mobile) {
         grid-template-columns: rem(140) 1fr;
      }
      @media (min-width: $tablet) {
         grid-template-columns: rem(180) 1fr;
      }
      @media (max-width: $mobileM) {
         grid-template-columns: percent(96, 268) 1fr;
         gap: rem(16);
      }

      &.ordering-total__row_theme {
         @media (max-width: $mobileM) {
            grid-column: initial;
         }
      }
   }

   .ordering-total__info-caption {
      font-weight: 600;
   }

   .ordering-total__info-text {
      @media (max-width: $mobileM) {
         color: $mainColor;
      }
   }

   // .user-template2__actions
   &__actions {
      flex: 1;
      display: flex;
      // align-items: center;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: rem(8) rem(16);

      &:not(:first-child) {
         @include adaptiveValue("margin-top", 0, 8);
      }
   }

   // .user-template2__button
   &__button {
      @media (max-width: $mobileSmall) {
         flex: 0 0 100%;

         .btn_bg-transparent {
            border-color: $Line;
         }
      }

      .btn {
         i {
            @include adaptiveValue("font-size", 26, 20);
         }
      }
   }

   // .user-template2__history
   &__history {
      .user-template2__caption {
         margin-bottom: rem(16);
      }

      .tabs {
         @include adaptiveValue("padding-left", 30, 16);
         @include adaptiveValue("padding-right", 30, 16);
         @include adaptiveValue("padding-bottom", 30, 16);
         border-radius: rem(10);
         background-color: #f4f6fa;
      }

      .tabs__navigation {
         @include adaptiveValue("padding-top", 28, 16);
         @include adaptiveValue("padding-bottom", 28, 16);
         @include adaptiveValue("column-gap", 32, 16);
      }

      .tabs__title {
         margin: 0;

         &::after {
            bottom: initial;
            height: rem(3);
            @include adaptiveValue("top", -28, -16);
            border-radius: 0 0 rem(2) rem(2);
         }
      }

      .admin-template2__list-item {
         grid-template-columns: percent(96, 240) 1fr;

         @media (min-width: $mobile) {
            grid-template-columns: rem(180) 1fr;
         }
      }
   }

   .download-plan {
      padding: rem(16);
      border-radius: rem(10);
      border: rem(1) solid $Line;

      .files {
         // .files__item-wrapper
         &__item-wrapper {
            padding: 0;
            border: 0;
            align-items: flex-start;
         }

         // .files__item-icon
         &__item-icon {
            color: $Grey;
         }

         // .files__item-body
         &__item-body {
            .files__button {
               padding: 0;

               &:not(:first-child) {
                  margin-top: rem(16);
               }
            }
         }
      }
   }

   ._content {
      // color: $Grey;

      & > * {
         margin-top: rem(4);
         margin-bottom: rem(4);
      }
      :last-child {
         margin-bottom: 0;
      }
      :first-child {
         margin-top: 0;
      }
   }
}

.user-template2-comment {
   // .user-template2-comment__wrapper
   &__wrapper {
      padding: rem(16);
      // @include adaptiveValue("padding", 30, 16);
      border-radius: rem(10);
      @include adaptiveValue("font-size", 14, 13);
      background-color: #f4f6fa;
      display: grid;
      gap: rem(4) rem(24);

      @media (min-width: $mobileM) {
         grid-template-columns: rem(150) 1fr;
      }
      @media (min-width: $mobile) {
         padding: rem(20);
         grid-template-columns: rem(120) 1fr;
      }
      @media (min-width: $tablet) {
         padding: rem(30);
         grid-template-columns: rem(150) 1fr;
      }
   }

   // .user-template2-comment__caption
   &__caption {
      font-weight: 600;
      line-height: 120%;
   }

   // .user-template2-comment__text
   &__text {
      &._content {
         color: $mainColor;
         line-height: 130%;
         max-width: rem(640);
      }
   }
}

//.user-template3 ====================================================================================================
.user-template3 {
   display: grid;
   align-content: flex-start;
   @include adaptiveValue("row-gap", 30, 24);

   // .user-template3__information
   &__information {
      @include adaptiveValue("padding", 30, 16);
      background-color: #f4f6fa;
      border-radius: rem(10);
      grid-template-columns: 1fr !important;

      .user-template3__caption {
         @media (min-width: $mobileM) {
            @include adaptiveValue("margin-bottom", 30, 24);
         }
      }

      @media (max-width: $mobileSmall) {
         @include adaptiveValue("margin-left", -30, -16);
         @include adaptiveValue("margin-right", -30, -16);
         border-radius: 0;
      }
   }

   .ordering-total__item {
      display: grid;
      align-content: flex-start;
      @include adaptiveValue("row-gap", 30, 24);
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
   }

   .ordering-total__row {
      @include adaptiveValue("font-size", 14, 12);
      line-height: math.div(16, 12);
      grid-template-columns: percent(180, 844) 1fr;

      @media (max-width: $mobileM) {
         grid-template-columns: percent(96, 268) 1fr;
         gap: rem(16);
         margin-bottom: 0;
      }
   }

   .ordering-total__row_theme {
      @media (max-width: $mobile) {
         grid-column: initial;
      }
   }

   .ordering-total__info-text {
      color: $mainColor;
   }

   .ordering-total__item_final {
      .ordering-total__information {
         grid-template-columns: 1fr;
      }

      .ordering-total__row {
         @media (max-width: $mobileSmall) {
            grid-template-columns: repeat(2, 1fr);
         }
      }

      .ordering-total__info-text {
         @media (max-width: $mobileSmall) {
            text-align: right;
         }

         .title-h1 {
            @include adaptiveValue("font-size", 24, 18);
         }
      }

      .user-template2__actions {
         &:not(:first-child) {
            margin-top: 0;
         }
      }
   }

   // .user-template3__form
   &__form {
      &:not(:last-child) {
         @include adaptiveValue("padding-bottom", 30, 24);
         border-bottom: rem(1) solid $Line;
      }

      .form__item {
         @include adaptiveValue("margin-bottom", 30, 24);
      }

      .form__label {
         margin-bottom: rem(8);
      }
   }

   // .user-template3__note
   &__note {
      color: $Grey;

      & > * {
         margin-top: rem(4);
         margin-bottom: rem(4);
      }

      :first-child {
         margin-top: 0;
      }
      :last-child {
         margin-bottom: 0;
      }
   }
}

//.user-template4 ====================================================================================================
.user-template4 {
   display: grid;
   align-content: flex-start;
   @include adaptiveValue("row-gap", 30, 24);

   // .user-template4__heading
   &__heading {
   }

   // .user-template4__steps
   &__steps {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: rem(-4);
   }

   // .user-template4__step
   &__step {
      padding: rem(4);

      a {
         display: inline-flex;
         align-items: center;
         gap: rem(8);
         padding: rem(5) rem(8);
         background: #f4f6fa;
         border-radius: rem(8);
         font-weight: 600;
         color: $Grey;
         border: rem(1) solid transparent;
         transition: $transition ease all 0s;

         &._completed {
            background-color: $BBLue;
            color: $White;
            transition: $transition ease all 0s;

            @media (any-hover: hover) {
               &:hover {
                  background: rgba($color: $BBLue, $alpha: 0.8);
               }
            }
         }

         &._active {
            color: $BBLue;
            pointer-events: none;
         }
      }
   }

   // .user-template4__form
   &__form {
      max-width: rem(764);
   }
}

//.user-template5 ====================================================================================================
.user-template5 {
   display: grid;
   align-content: flex-start;
   @include adaptiveValue("row-gap", 30, 16);

   // .user-template5__heading
   &__heading {
   }

   // .user-template5__list
   &__list {
      display: grid;
      align-content: flex-start;
      row-gap: rem(8);
   }

   // .user-template5__item
   &__item {
   }

   // .user-template5__item-wrapper
   &__item-wrapper {
      @include adaptiveValue("padding", 16, 8);
      border: rem(1) solid $Line;
      border-radius: rem(8);
      display: grid;
      align-content: center;
      gap: rem(4) rem(24);

      @media (min-width: $mobileM) {
         grid-template-columns: rem(180) 1fr;
      }
      @media (min-width: $tablet) {
         grid-template-columns: rem(200) 1fr;
      }
   }

   // .user-template5__item-status
   &__item-status {
      display: flex;
      align-items: center;
      gap: rem(4);

      img {
         flex: 0 0 rem(20);
         @include adaptiveValue("max-width", 20, 16);
         @include adaptiveValue("flex-basis", 20, 16);
      }

      span {
         font-weight: 600;
         @include adaptiveValue("font-size", 12, 10);
         line-height: 120%;
         text-transform: uppercase;
         letter-spacing: em(0.72, 12);
         color: $Grey;
      }
   }

   // .user-template5__item-text
   &__item-text {
      @media (max-width: $mobileM) {
         @include adaptiveValue("padding-left", 24, 20);
      }
   }
}

//.user-template6 ====================================================================================================
.user-template6 {
   // .user-template6__blocks
   &__blocks {
      display: grid;
      align-content: flex-start;
      row-gap: rem(40);
   }

   // .user-template6__block
   &__block {
      display: grid;
      align-content: flex-start;
      row-gap: rem(30);

      &:last-child {
         .user-template6__item {
            &:last-child {
               border-bottom: 0;
            }
         }
      }
   }

   // .user-template6__title
   &__title {
   }

   // .user-template6__list
   &__list {
   }

   // .user-template6__item
   &__item {
      padding-top: rem(16);
      padding-bottom: rem(16);
      border-top: rem(1) solid $Line;
      display: flex;
      align-items: flex-start;
      @include adaptiveValue("column-gap", 40, 8);

      &:last-child {
         border-bottom: rem(1) solid $Line;
      }

      // .user-template6__item_changing
      &_changing {
         .user-template6__form {
            display: block;
         }

         .user-template6__row {
            @media (min-width: $mobileM) {
               display: none;
            }
         }

         .user-template6__button {
            @media (min-width: $mobileM) {
               opacity: 0;
               visibility: hidden;
               pointer-events: none;
            }
         }
      }
   }

   // .user-template6__caption
   &__caption {
      flex: 0 0 percent(180, 920);

      @media (max-width:$mobileSmall){
          flex: 0 0 rem(75); 
      }
   }

   // .user-template6__body
   &__body {
      flex: 1;
   }

   // .user-template6__row
   &__row {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: rem(8) rem(16);

      @media (max-width: $mobileSmall) {
         flex-direction: column;
      }
   }

   // .user-template6__value
   &__value {
      flex: 1;
      font-weight: 600;
      @include adaptiveValue("font-size", 16, 13);
      line-height: math.div(18, 13);
   }

   // .user-template6__note
   &__note {
      flex: 1;
   }

   // .user-template6__note-wrapper
   &__note-wrapper {
      display: flex;
      align-items: flex-start;
      gap: rem(4);
      font-weight: 600;
      color: $Grey;

      @media (min-width: $mobileSmall) {
         gap: rem(8);
      }

      img {
         max-width: rem(18);
      }
   }

   // .user-template6__form
   &__form {
      display: none;
      max-width: rem(360);

      @media (max-width: $mobileM) {
         position: fixed;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: 150;
         background-color: $White;
         max-width: 100%;
         padding: rem(16);
         box-shadow: 0px -6px 34px rgba(0, 0, 0, 0.25);
         border-radius: rem(20) rem(20) 0px 0px;
      }

      .form__item {
         margin-bottom: rem(16);
      }

      .form__label {
         font-weight: 600;
         font-size: rem(14);
         line-height: math.div(18, 14);
         margin-bottom: rem(16);
      }

      .form__input {
         padding: rem(14) rem(16);
         @include adaptiveValue("font-size", 16, 14);
         line-height: math.div(20, 16);
      }

      .toggle__text {
         @include adaptiveValue("font-size", 14, 12);
         line-height: math.div(17, 14);
      }

      .btn {
         padding: rem(11) rem(24);
         @include adaptiveValue("font-size", 16, 14);
         line-height: math.div(20, 16);

         @media (max-width: $mobileM) {
            width: 100%;
         }
      }
   }

   // .user-template6__button
   &__button {
      @include adaptiveValue("font-size", 14, 12);

      &::before {
         @extend %ic;
      }

      @media (max-width: $mobileM) {
         padding: rem(5);
         gap: 0;
         font-size: rem(0);

         &::before {
            content: "\e922";
            font-size: rem(16);
            color: $LGrey;
         }
      }

      &.text-link_blue {
         @media (min-width: $mobileM) {
            text-decoration: underline from-font;
            transition: $transition ease all 0s;

            @media (any-hover: hover) {
               &:hover {
                  text-decoration: underline transparent from-font;
               }
            }
         }
      }
   }
}

//.user-template7 ====================================================================================================
.user-template7 {
   display: grid;
   align-content: flex-start;
   @include adaptiveValue("row-gap", 24, 16);

   // .user-template7__heading
   &__heading {
      max-width: rem(300);
      color: $Grey;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
         color: $mainColor;
      }

      & > * {
         margin-top: rem(8);
         margin-bottom: rem(8);
      }

      :first-child {
         margin-top: 0;
      }
      :last-child {
         margin-bottom: 0;
      }
   }

   // .user-template7__form
   &__form {
      max-width: rem(420);

      .form__item {
         @include adaptiveValue("margin-bottom", 24, 16);
      }

      .form__label {
         margin-bottom: rem(8);
      }

      .btn {
         font-size: rem(16);
         line-height: math.div(20, 16);
         padding: rem(11) rem(24);
      }
   }
}

//.user-template8 ====================================================================================================
.user-template8 {
   display: grid;
   align-content: flex-start;
   @include adaptiveValue("row-gap", 24, 16);

   // .user-template8__title
   &__title {
   }

   // .user-template8__accumulation
   &__accumulation {
      display: grid;
      align-content: flex-start;
      @include adaptiveValue("row-gap", 24, 20);
      max-width: rem(450);
   }

   // .user-template8__heading
   &__heading {
      display: grid;
      align-content: flex-start;
      @include adaptiveValue("row-gap", 16, 8);
   }

   // .user-template8__discount
   &__discount {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
   }

   // .user-template8__discount-current
   &__discount-current {
      @include adaptiveValue("font-size", 14, 10);

      .user-template8__discount-value {
         @include adaptiveValue("font-size", 80, 30);
         line-height: 1;
      }
   }

   // .user-template8__discount-value
   &__discount-value {
      font-weight: 700;
      color: $BBLue;

      &:not(:last-child) {
         margin-right: rem(8);
      }
   }

   // .user-template8__discount-next
   &__discount-next {
      .user-template8__discount-value {
         @include adaptiveValue("font-size", 40, 16);

         @media (min-width: $mobileM) {
            opacity: 0.5;
         }
      }
   }

   // .user-template8__graphic
   &__graphic {
   }

   // .user-template8__graphic-line
   &__graphic-line {
      border-radius: rem(10);
      overflow: hidden;
      position: relative;
      background: $Line;
   }

   // .user-template8__graphic-fill
   &__graphic-fill {
      border-radius: rem(8);
      position: absolute;
      left: rem(2);
      top: rem(2);
      bottom: rem(2);
      background: linear-gradient(95.67deg, #e96216 -59.48%, #fccc24 118.05%);
      box-shadow: 0px 0px 4px rgba(181, 117, 9, 0.3);
      overflow: hidden;

      span {
         display: block;
         height: 100%;
         width: 100%;
         background: url(../img/icons/accumulation-bg.svg) repeat-x center;
         background-repeat: space;
      }
   }

   // .user-template8__graphic-text
   &__graphic-text {
      padding: rem(5) rem(12);
      @include adaptiveValue("font-size", 12, 10);
      line-height: math.div(12, 10);
      color: $DGBlue;
      text-align: right;
      position: relative;
      z-index: 2;
   }

   // .user-template8__graphic-caption
   &__graphic-caption {
      color: $Grey;

      &:not(:first-child) {
         margin-top: rem(8);
      }
   }

   // .user-template8__table
   &__table {
      table {
         width: 100%;
         border-collapse: collapse;
      }

      th {
         padding: rem(14) rem(16);
         background: #f4f6fa;
         font-weight: 600;
         font-size: rem(14);
         line-height: math.div(17, 14);
         text-align: left;

         &:first-child {
            border-radius: rem(10) 0 0 rem(10);
         }
         &:last-child {
            border-radius: 0 rem(10) rem(10) 0;
            text-align: right;
         }
      }

      tbody {
         tr {
            &:last-child {
               td {
                  padding-bottom: 0;
               }
            }
         }
      }

      td {
         font-size: rem(14);
         padding: rem(10) rem(16);

         &:last-child {
            font-size: rem(18);
            line-height: math.div(22, 18);
            text-align: right;
         }
      }
   }

   // .user-template8__button
   &__button {
      .btn {
         padding: rem(11) rem(24);
         font-size: rem(16);
         line-height: math.div(20, 16);

         @media (max-width: $mobileSmall) {
            padding-left: rem(12);
            padding-right: rem(12);
         }
      }
   }
}

//.user-template9 ====================================================================================================
.user-template9 {
   // .user-template9__heading
   &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 30, 16);
      }

      .back-button {
         @include adaptiveValue("font-size", 16, 12);
         @include adaptiveValue("gap", 8, 4);

         i {
            @include adaptiveValue("font-size", 20, 14);
            background-color: transparent;
            color: $mainColor;
         }
      }
   }

   // .user-template9__title
   &__title {
   }

   // .user-template9__row
   &__row {
      display: grid;
      row-gap: rem(24);
      @include adaptiveValue("column-gap", 30, 12, 1440, 992, 1);

      @media (min-width: $mobile) {
         grid-template-columns: 1fr rem(295);
      }
      @media (min-width: $tablet) {
         grid-template-columns: 1fr rem(352);
      }
   }

   // .user-template9__body
   &__body {
      display: grid;
      align-content: flex-start;
      row-gap: rem(16);
   }

   // .user-template9__actions
   &__actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: rem(-4);

      .user-template9__button {
         padding: rem(4);
      }

      .btn {
         @include adaptiveValue("padding-top", 7, 3);
         @include adaptiveValue("padding-bottom", 7, 3);
         @include adaptiveValue("padding-left", 16, 8);
         @include adaptiveValue("padding-right", 16, 8);
         border-radius: rem(10);
         @include adaptiveValue("font-size", 14, 12);
      }
   }

   // .user-template9__button
   &__button {
   }

   // .user-template9__items
   &__items {
   }

   // .user-template9__item
   &__item {
      &:not(:last-child) {
         margin-bottom: rem(16);
      }

      .checkbox__input {
         &:checked {
            & + .checkbox__label {
               border-color: $Orange;
            }
         }
      }

      .checkbox__label {
         display: flex;
         @include adaptiveValue("padding", 20, 16);
         @include adaptiveValue("padding-left", 20, 8);
         @include adaptiveValue("border-radius", 20, 15);
         border: rem(1) solid $Line;
         box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.06);
         transition: $transition ease all 0s;
         @include adaptiveValue("gap", 20, 8);

         &::before {
            align-self: center;
         }
         &::after {
            top: 50%;
            @include adaptiveValue("left", 20, 8);
            transform: translateY(-50%);
         }
      }
   }

   // .user-template9__product
   &__product {
   }

   // .user-template9__sidebar
   &__sidebar {
   }

   // .user-template9__sidebar-wrapper
   &__sidebar-wrapper {
      display: grid;
      align-content: flex-start;
      @include adaptiveValue("row-gap", 24, 16);

      @media (min-width: $mobile) {
         position: sticky;
         @include adaptiveValue("top", 150, 122, 1440, 768, 1);
      }
   }

   // .user-template9__wrapper
   &__wrapper {
      display: grid;
      align-content: flex-start;
      @include adaptiveValue("row-gap", 20, 8);
      @include adaptiveValue("padding", 20, 16);
      background: $White;
      border: 1px solid $Line;
      box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.06);
      border-radius: rem(20);

      .select__control {
         @include adaptiveValue("height", 48, 36);
      }

      .select__single-value {
         @include adaptiveValue("font-size", 16, 14);
      }
   }

   // .user-template9__discount
   &__discount {
      @include adaptiveValue("padding", 16, 12);
      display: flex;
      align-items: center;
      gap: rem(8);
      font-weight: 700;
      @include adaptiveValue("font-size", 20, 16);
      line-height: math.div(19, 16);
      color: $White;
      background: linear-gradient(103.16deg, #5177ff -12.35%, #ff76c0 49.61%, #ff7a00 107.81%);
      border-radius: rem(14);

      img {
         max-width: rem(24);
      }
   }

   // .user-template9__total
   &__total {
      background: #f0f2f5;
      border-radius: rem(14);
      padding: rem(16);
   }

   // .user-template9__total-row
   &__total-row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
         margin-bottom: rem(8);
      }

      // .user-template9__total-row_final
      &_final {
         .user-template9__total-value {
            @include adaptiveValue("font-size", 20, 18);
         }

         &:not(:first-child) {
            margin-top: rem(16);
            padding-top: rem(8);
            border-top: rem(1) solid $Line;
         }
      }
   }

   // .user-template9__total-caption
   &__total-caption {
   }

   // .user-template9__total-value
   &__total-value {
      font-weight: 700;
      white-space: nowrap;
   }

   // .user-template9__buttons
   &__buttons {
      display: grid;
      align-content: flex-start;
      row-gap: rem(8);

      @media (max-width: $mobile) {
         margin-top: rem(14);
      }

      .btn {
         width: 100%;
         padding-left: rem(16);
         padding-right: rem(16);
      }

      & + .user-template9__text {
         @media (min-width: $mobile) {
            margin-top: rem(-4);
         }
         @media (max-width: $mobile) {
            margin-top: rem(8);
         }
      }
   }

   // .user-template9__button
   &__button {
   }

   // .user-template9__text
   &__text {
      line-height: math.div(20, 14);
      text-align: center;
      color: $Grey;
   }

   // .user-template9__troubles
   &__troubles {
      display: flex;
      justify-content: center;

      .btn_text-blue {
         padding: 0;
         font-weight: 600;
         font-size: rem(14);
         line-height: math.div(18, 14);
         transition: $transition ease all 0s;

         @media (any-hover: hover) {
            &:hover {
               text-decoration: underline from-font;
            }
         }
      }
   }
}

.user-template9-product {
   flex: 1;
   // .user-template9-product__heading
   &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(24);

      &:not(:last-child) {
         @include adaptiveValue("padding-bottom", 16, 10);
         @include adaptiveValue("margin-bottom", 20, 8);
         border-bottom: rem(1) solid $Line;
      }
   }

   // .user-template9-product__id
   &__id {
      font-weight: 600;
   }

   // .user-template9-product__cost
   &__cost {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      flex-wrap: wrap;
      gap: rem(2) rem(16);

      @media (max-width: $mobileSmall) {
         flex-direction: column-reverse;
         align-items: flex-end;
      }
   }

   // .user-template9-product__date
   &__date {
      @include adaptiveValue("font-size", 14, 10);
      color: $Grey;
   }

   // .user-template9-product__price
   &__price {
      font-weight: 600;
      @include adaptiveValue("font-size", 18, 12);
      line-height: math.div(23, 18);
   }

   // .user-template9-product__info
   &__info {
      display: grid;
      align-content: flex-start;
      row-gap: rem(8);

      &:not(:last-child) {
         margin-bottom: rem(16);
      }
   }

   // .user-template9-product__row
   &__row {
      display: grid;
      align-content: flex-start;
      gap: rem(16);

      @media (min-width: $mobileSmall) {
         grid-template-columns: rem(100) 1fr;
      }
   }

   // .user-template9-product__caption
   &__caption {
      font-weight: 600;

      @media (max-width: $mobileSmall) {
         display: none;
      }
   }

   // .user-template9-product__text
   &__text {
      color: $DGBlue;
   }

   // .user-template9-product__comment
   &__comment {
      .user-template2-comment__wrapper {
         grid-template-columns: 1fr;
         @include adaptiveValue("padding", 16, 8);
      }
   }

   .ordering-total__note {
      font-weight: 400;
      @include adaptiveValue("font-size", 14, 12);
      max-width: 100%;
      gap: rem(8);

      img {
         max-width: rem(20);
      }
   }
}
