@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "ProximaNova";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #1e1f23; // Цвет шрифта по умолчанию
$Grey: #82879e;
$LGrey: #c1c3d1;
$Orange: #ec9023;
$Red: #cc4b2f;
$White: #fff;
$Line: #e3e7ed;
$LGBlue: #f4f6fa;
$DGBlue: #595c68;
$BBLue: #3e5bf1;

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1180;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 20;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileM: em(574.98); // Телефоны M
$mobileSmall: em(479.98); // Телефоны S

$transition: 0.3s;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

.admin-wrapper {
	display: grid;
	grid-template-areas:
		"header header"
		"sidebar main";
	grid-template-columns: rem(82) 1fr;
	grid-template-rows: rem(84) 1fr;
	background-color: $LGBlue;

	& > .admin-header {
		grid-area: header;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	& > .admin-sidebar {
		grid-area: sidebar;
		position: fixed;
		width: rem(82);
		top: rem(84);
		bottom: 0;
	}

	& > .admin-page {
		grid-area: main;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*="__container"] {
	max-width: rem($maxWidthContainer);
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 rem(math.div($containerPadding, 2));
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей Внешних страниц
@import "main/main-header";
@import "main/main-footer";
@import "main/main-styles";

// Подключение стилей ЛК Суперпользователя
@import "admin/admin-header";
@import "admin/admin-sidebar";
